<GridLayout row="auto , auto">
    <ScrollView class="page">

        <StackLayout class="form">

            <Image class="logo borde" [src]="usuario.img | imagen"></Image>
            <GridLayout (longPress)="onLongPress($event)">
                <Label class="input input-field input-rounded" text="NOMBRE: {{usuario.nombre}} " textWrap="true" (longPress)="onLongPress($event)"></Label>
            </GridLayout>
            <Label class="input input-field input-rounded" text="CORREO: {{usuario.email}} " textWrap="true"></Label>
            <Label class="input input-field input-rounded" text="TELEFONO: {{usuario.telefono}} " textWrap="true"></Label>
            <Button text="Logout" class="btn btn-primary" (tap)="salir()"></Button>

        </StackLayout>

    </ScrollView>
</GridLayout>