/* Estilo Login */

StackLayout {
    padding: 10 10;
    background-color: white;
    border-radius: 7;
}

Image {
    margin: 10 0 10 0;
    height: 70;
}

Button,
TextField {
    margin-bottom: 10;
}

.btn-primary {
    background-color: #ef424c;
    margin-left: 0;
    margin-right: 0;
    height: 50;
    border-radius: 5;
    font-size: 14;
    font-weight: 600;
    color: #f4f2ec;
}

TextField {
    placeholder-color: #2d3440;
    background-color: #eeeeee;
    vertical-align: center;
    opacity: 0.8;
    padding-left: 15;
    height: 50;
    font-size: 16;
    border-radius: 7;
}

.icon-login {
    font-size: 20;
    vertical-align: center;
    padding: 5 5 15 5;
    color: #2d3440;
    opacity: 0.8;
}