/* Estilo Login */

StackLayout {
    padding: 0 20 0 20;
    background-color: white;
    border-radius: 7;
}

Image {
    margin: 10 0 10 0;
    height: 70;
}

.header {
    font-size: 28;
    font-weight: bold;
    text-align: center;
    color: #ef424c;
}

.text-sub {
    font-size: 14;
    color: #ef424c;
    font-weight: 300;
    text-align: center;
}

.btn-primary {
    background-color: #ef424c;
    height: 50;
    border-radius: 7;
    font-size: 12;
    font-weight: 600;
    color: #f4f2ec;
    margin: 10 0 5 0;
}

.btn-sec {
    color: #ef424c;
    margin: 5 0 5 0;
    font-weight: 500;
}

TextField {
    placeholder-color: #2d3440;
    background-color: #eeeeee;
    vertical-align: center;
    opacity: 0.8;
    padding-left: 15;
    height: 50;
    font-size: 16;
    border-radius: 7;
    margin-bottom: 10;
}

.icon-login {
    font-size: 20;
    vertical-align: center;
    padding: 5 5 15 0;
    color: #2d3440;
    opacity: 0.8;
}