.page {
    align-items: center;
    flex-direction: column;
}

.form {
    margin-left: 20;
    margin-right: 20;
    flex-grow: 2;
    vertical-align: middle;
}

.img-profile {
    margin-top: 40;
    margin-bottom: 40;
    height: 150;
    width: 150;
    border-radius: 80;
}

.margen {
    margin-bottom: 20
}

.margen-linea {
    margin-top: 20;
}