.form {
    margin-left: 20;
    margin-right: 20;
    flex-grow: 2;
    vertical-align: middle;
    font-size: 18;
}

.card {
    background-color: #ffffff;
    margin: 5 10 5 10;
    border-radius: 7;
}

.img-profile {
    margin-top: 40;
    margin-bottom: 40;
    height: 150;
    width: 150;
    vertical-align: center;
}

.margen {
    margin-bottom: 20
}

.margen-linea {
    margin-top: 20;
}