<ns-action-bar title="Perfil" class="action-bar" [showBackButton]="false">
    <ActionItem (tap)="goToAbout()" ios.position="right" class="m-10">
        <Button class="ico btn btn-flat btn-active icon-2x iconInfo action-item" text="&#xe88e;"></Button>
    </ActionItem>

</ns-action-bar>

<ScrollView class="page">

    <MDCardView class="card visible" elevation="4">
        <StackLayout class="padding">

            <StackLayout>
                <Label class="avatar img-profile img-circle" *ngIf="!imagenActiva" [text]="avatar" (tap)="onSelectSingleTap()"></Label>
                <!-- <Image *ngIf="imagenActiva" class="img-profile img-circle" [src]="usuario.img | imagen" (tap)="onSelectSingleTap()"></Image> -->
                <Image *ngIf="imagenActiva" class="img-profile img-circle" [src]="imagenSrc" stretch="fill" (tap)="onSelectSingleTap()"></Image>
            </StackLayout>

            <GridLayout class="margen" rows="auto" columns="40, *, 40">

                <Label class="ico icon-1x icon-perfil" [text]="iconNombre" row="0" col="0"></Label>

                <StackLayout row="0" col="1">
                    <Label class="txt-perfil" text="Nombre"></Label>
                    <Label class="txt-usuario" [text]="usuario.nombre" textWrap="true"></Label>
                    <StackLayout class="hr-light margen-linea"></StackLayout>
                </StackLayout>

                <Label class="ico icon-1x text-muted text-center" [text]="iconEditar" (tap)="modificar('Nombre', usuario)" row="0" col="2"></Label>

            </GridLayout>

            <GridLayout class="margen" rows="auto" columns="40, *, 40">

                <Label class="ico icon-1x icon-perfil" [text]="iconEmail" row="0" col="0"></Label>

                <StackLayout row="0" col="1">
                    <Label class="txt-perfil" text="Correo Electrónico"></Label>
                    <Label class="txt-usuario" [text]="usuario.email" textWrap="true"></Label>
                    <StackLayout class="hr-light margen-linea"></StackLayout>

                </StackLayout>

                <Label class="ico icon-1x text-muted text-center" [text]="iconEditar" (tap)="modificar('Correo Electrónico', usuario)" row="0" col="2"></Label>

            </GridLayout>

            <GridLayout rows="auto" columns="40, *, 40">

                <Label class="ico icon-1x icon-perfil" [text]="iconTelefono" row="0" col="0"></Label>

                <StackLayout row="0" col="1">
                    <Label class="txt-perfil" text="Teléfono"></Label>
                    <Label class="txt-usuario" [text]="usuario.telefono" textWrap="true"></Label>
                    <StackLayout class="hr-light margen-linea"></StackLayout>
                </StackLayout>

                <Label class="ico icon-1x text-muted text-center" [text]="iconEditar" (tap)="modificar('Telefono', usuario)" row="0" col="2"></Label>

            </GridLayout>

            <Button text="Cerrar Sesión" class="btn btn-flat btn-sec btn-active" (tap)="salir()"></Button>

            <!-- <Label class="txt-version" text="Digital Ads v1.1.0"></Label> -->

        </StackLayout>
    </MDCardView>

</ScrollView>