.page {
    align-items: center;
    flex-direction: column;
}

.form {
    margin-left: 20;
    margin-right: 20;
    flex-grow: 2;
    vertical-align: middle;
    font-size: 18;
}

.img-profile {
    margin-top: 40;
    margin-bottom: 40;
    height: 150;
    width: 150;
    border-radius: 80;
    border-color: #2d3440;
    border-width: 2;
}

.margen {
    margin-bottom: 20
}

.margen-linea {
    margin-top: 20;
}