<ns-action-bar title="Productos" [showBackButton]="false">
    <ActionItem *ngIf="!aparecer" ios.position="rigth" (tap)="aparecerBuscar(+1)">
        <Label class="p-15" [text]="icoSearch" color="#f4f2ec"></Label>
    </ActionItem>
    <ActionItem *ngIf="aparecer" (tap)="aparecerBuscar(+1)" ios.position="left" android.position="actionBar">
        <Label class="p-15" text="Cerrar" color="#f4f2ec"></Label>
    </ActionItem>
    <SearchBar class="searchbar" *ngIf="aparecer" col="1" id="searchBar" hint="Buscar producto..." (textChange)="buscarProducto($event)" textFieldHintColor="gray"></SearchBar>
</ns-action-bar>

<GridLayout rows="auto,*" class="page">

    <GridLayout *ngIf="_productosService.activarCarrito" row="0" class="card card-layout">
        <ns-orden></ns-orden>
    </GridLayout>

    <RadListView row="1" class="card" [items]="productos | filtro:textoBuscar" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)">

        <ng-template let-producto="item">
            <StackLayout [nsRouterLink]="['/producto', producto._id]" pageTransition="slideTop">
                <!-- <StackLayout (tap)="onProductoTap(producto._id)"> -->

                <StackLayout class="card-layout">
                    <Image class="img-rounded" stretch="aspectFill" [src]="producto.img | imagen:'producto'"></Image>
                    <Label class="h3" [text]="producto.nombre" textWrap="true"></Label>
                    <Label class="h6" [text]="producto.categoria.descripcion" textWrap="true"></Label>
                </StackLayout>

                <StackLayout class="separador"></StackLayout>

            </StackLayout>
        </ng-template>

    </RadListView>

    <!-- <ActivityIndicator class="activity-indicator" [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator> -->

</GridLayout>