<ns-action-bar title="Productos" class="action-bar" [showBackButton]="false">

    <ActionItem *ngIf="!aparecer" (tap)="_utilService.goToAbout()" ios.position="left" class="m-10">
        <Button class="ico btn btn-flat btn-active icon-2x iconInfo action-item" [text]="_utilService.iconInfo"></Button>
    </ActionItem>

    <ActionItem *ngIf="!aparecer" ios.position="rigth" (tap)="goCarrito()">
        <StackLayout orientation="horizontal" [isEnable]="productos.length == 0">
            <Label class="ico icono-cart-color" [text]="_utilService.iconCart"></Label>
            <StackLayout class="badge" *ngIf="cs.items.length > 0">
                <Label [text]="cs.items.length" class="badge-text"></Label>
            </StackLayout>
        </StackLayout>
    </ActionItem>

    <ActionItem *ngIf="!aparecer" ios.position="rigth" (tap)="aparecerBuscar()">
        <Button class="btn btn-flat btn-active icon-search-color ico icon-2x" [text]="_utilService.iconSearch" [isEnable]="productos.length == 0"></Button>
    </ActionItem>

    <ActionItem *ngIf="aparecer" (tap)="aparecerBuscar()" ios.position="right">
        <Button class="btn btn-flat btn-active action-item iconos ico" text="cerrar"></Button>
    </ActionItem>

    <SearchBar class="searchbar lightSpeedIn" *ngIf="aparecer" hint="Buscar producto..." (textChange)="buscarProducto($event)" (onsubmit)="onSubmit()"></SearchBar>

</ns-action-bar>

<GridLayout>

    <ActivityIndicator class="activity-indicator" [busy]="productos.length == 0" [visibility]="productos.length == 0 ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>

    <RadListView *ngIf="productos.length != 0" #myRadListView [items]="productos | filtro:textoBuscar" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)">

        <ng-template tkListItemTemplate let-producto="item">

            <StackLayout class="visible" [nsRouterLink]="['/pages/producto', producto._id]" pageTransition="slide">
                <StackLayout class="background-detail background-detail-2" [backgroundImage]="producto.img | imagen:'producto'">
                    <StackLayout class="background-label background-label-2">
                        <StackLayout class="card-layout-description">
                            <Label class="label-title p-y-5 roboto-bold" [text]="producto.nombre" textWrap="true"></Label>
                            <Label class="label-description" [text]="producto.categoria.descripcion" textWrap="true"></Label>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>

        </ng-template>

        <ng-template tkListViewFooter>
            <Label class="ico footer" [text]="_utilService.iconTop" (tap)="onTapUp()"></Label>
        </ng-template>

    </RadListView>

</GridLayout>