    .card {
        background-color: #ffffff;
        margin: 5 10 5 10;
        border-radius: 7;
    }
    
    .card-layout {
        padding: 0;
    }
    
    .card-layout-description {
        background-color: rgba(255, 255, 255, 0.555);
        color: #2d3440;
        vertical-align: bottom;
        padding: 2;
        padding-left: 10;
        border-radius: 7;
    }
    
    .card-layout-description-p {
        margin-bottom: 10;
        padding: 10;
    }
    
    .card-cotizar {
        margin: 10;
        padding: 5;
        background-color: #ffffff;
        border-radius: 7;
        vertical-align: center;
    }
    
    .img {
        padding: 0;
    }
    
    .input-field {
        margin-bottom: 25;
    }
    
    .input-cantidad {
        font-size: 24;
        margin: 5 5 5 5;
        text-align: center;
    }
    
    .icon-cantidad {
        color: #F8F0EE;
        border-radius: 100%;
        background-color: #ef424c;
        width: 50;
        height: 50;
        text-align: center;
        vertical-align: center;
    }
    
    .inputVariables {
        font-size: 12;
        placeholder-color: #A8A8A8;
        vertical-align: center;
        padding-top: 5;
        size: 30;
    }
    
    .searchbar {
        font-size: 18;
        border-radius: 8;
        color: #2d3440;
        text-field-background-color: white;
        text-field-hint-color: #2d3440;
    }
    
    .iconos {
        font-size: 16;
        border-radius: 5;
        color: #eae8dc;
    }
    
    .icon-search-color {
        color: #eae8dc;
        border-radius: 100%;
        border-color: transparent;
        border-width: 1;
    }
    
    .icono-cart-color {
        font-size: 24;
        color: #28bfdb;
        padding-right: -2;
    }
    
    .icon-cart-add {
        border-bottom-right-radius: 10;
        border-bottom-left-radius: 10;
        border-top-right-radius: 10;
        background-color: #0e3743;
        color: #F8F0EE;
        width: 50;
    }
    
    RadListView {
        margin-right: -2;
    }
    
    .footer {
        margin-bottom: 5;
        margin-top: 5;
        text-align: center;
        color: #0e3743;
        font-size: 18;
    }
    
    .animate-transition-slide {
        animation-name: slide-rigth-x;
        animation-iteration-count: 1;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
    }
    
    @keyframes slide-rigth-x {
        from {
            transform: translateX(40);
        }
        to {
            transform: translateX(0);
        }
    }
    
    .animate-transition-up {
        animation-name: up;
        animation-iteration-count: 1;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }
    
    @keyframes up {
        from {
            transform: translateY(5);
        }
        to {
            transform: translateY(0);
        }
    }