<ns-action-bar title="Productos" class="action-bar" [showBackButton]="false">

    <ActionItem *ngIf="!aparecer" ios.position="rigth" (tap)="goCarrito()">
        <StackLayout orientation="horizontal" [isEnable]="productos.length == 0">
            <Label class="ico icono-cart-color" [text]="iconCarrito"></Label>
            <StackLayout class="badge" *ngIf="cs.items.length > 0">
                <Label [text]="cs.items.length" class="badge-text"></Label>
            </StackLayout>
        </StackLayout>
    </ActionItem>

    <ActionItem *ngIf="!aparecer" ios.position="rigth" (tap)="aparecerBuscar()">
        <Button class="btn btn-flat btn-active icon-search-color ico icon-2x" [text]="iconSearch" [isEnable]="productos.length == 0"></Button>
    </ActionItem>

    <ActionItem *ngIf="aparecer" (tap)="aparecerBuscar()" ios.position="right">
        <Button class="btn btn-flat btn-active action-item iconos ico" text="cerrar"></Button>
    </ActionItem>

    <SearchBar class="searchbar lightSpeedIn" *ngIf="aparecer" hint="Buscar producto..." (textChange)="buscarProducto($event)" (onsubmit)="onSubmit()"></SearchBar>

</ns-action-bar>

<GridLayout class="page" vertical-align="center">

    <ActivityIndicator class="activity-indicator" [busy]="productos.length == 0" [visibility]="productos.length == 0 ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>

    <GridLayout class="visible" *ngIf="productos.length != 0">

        <RadListView #myRadListView class="p-t-5" [items]="productos | filtro:textoBuscar" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)">

            <ng-template tkListItemTemplate let-producto="item">

                <GridLayout class="card elevation" androidElevation="4" [nsRouterLink]="['/producto', producto._id]" pageTransition="slide">

                    <Image class="img-rounded" [src]="producto.img | imagen:'producto'" loadMode="async"></Image>

                    <StackLayout class="card-layout-description">
                        <Label class="label-title p-y-5" [text]="producto.nombre" textWrap="true"></Label>
                        <Label class="label-description" [text]="producto.categoria.descripcion" textWrap="true"></Label>
                    </StackLayout>

                </GridLayout>

            </ng-template>

            <ng-template tkListViewFooter>
                <Label class="ico footer btn btn-active" [text]="iconUp" (tap)="onTapUp()"></Label>
            </ng-template>

        </RadListView>

    </GridLayout>

</GridLayout>