    .card-layout-description {
        color: white;
        vertical-align: bottom;
        padding: 2 10 10 10;
    }
    
    .card-layout-description-p {
        margin-bottom: 10;
        padding: 10;
    }
    
    .label-title {
        font-size: 24;
        font-weight: bold;
    }
    
    .label-description {
        font-size: 16;
    }
    
    .card-cotizar {
        margin: 5;
        background-color: #ffffff;
        border-radius: 7;
        vertical-align: center;
    }
    
    .input-field {
        margin-bottom: 25;
    }
    
    .input-cantidad {
        font-size: 24;
        margin: 5 5 5 5;
        text-align: center;
    }
    
    .icon-cantidad {
        color: #F8F0EE;
        border-radius: 100%;
        background-color: #ef424c;
        width: 50;
        height: 50;
        text-align: center;
        vertical-align: center;
    }
    
    .inputVariables {
        placeholder-color: #2d3440;
        background-color: #eeeeee;
        opacity: 0.8;
        padding-left: 15;
        height: 35;
        font-size: 12;
        border-radius: 7;
    }
    
    .searchbar {
        font-size: 17;
        color: #2d3440;
        text-field-background-color: white;
        text-field-hint-color: #2d3440;
    }
    
    .iconos {
        font-size: 16;
        border-radius: 7;
        color: #eae8dc;
    }
    
    .icon-search-color {
        color: #eae8dc;
        border-radius: 100%;
        border-color: transparent;
        padding: 0;
        height: 45;
    }
    
    .icono-cart-color {
        font-size: 26;
        color: #28bfdb;
        padding-right: -2;
    }
    /*1  2
       ⬜  borde-radius: 1 2 3 4
      3  4
    */
    
    .icon-cart-add {
        border-radius: 0 10 10 10;
        background-color: #2d3440;
        color: white;
        width: 50;
    }
    
    .footer {
        margin: 10;
        text-align: center;
        color: #0e3743;
        font-size: 18;
    }
    
    .animate-transition-slide {
        animation-name: slide-rigth-x;
        animation-iteration-count: 1;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
    }
    
    @keyframes slide-rigth-x {
        from {
            transform: translateX(40);
        }
        to {
            transform: translateX(0);
        }
    }
    
    .animate-transition-up {
        animation-name: up;
        animation-iteration-count: 1;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }
    
    @keyframes up {
        from {
            transform: translateY(5);
        }
        to {
            transform: translateY(0);
        }
    }
    
    .lightSpeedIn {
        animation-name: lightSpeedIn;
        animation-iteration-count: 1;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }
    
    @keyframes lightSpeedIn {
        from {
            transform: translate3d(100%, 0, 0) skewX(-30deg);
            opacity: 0;
        }
        60% {
            transform: skewX(20deg);
            opacity: 1;
        }
        80% {
            transform: skewX(-5deg);
            opacity: 1;
        }
        to {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
    
    .font-small {
        font-size: 11;
    }
    
    .font-cot {
        font-size: 17;
        font-weight: bold;
        color: #2d3440;
    }
    
    .btn-primary {
        border-radius: 7;
        font-size: 14;
        font-weight: bold;
        background-color: #2d3440;
        color: white;
    }
    
    .title {
        margin-top: 10;
        font-size: 30;
    }
    
    .background-detail-2 {
        height: 300;
    }
    
    .background-label-2 {
        background-color: rgba(0, 0, 0, 0.25);
        vertical-align: bottom;
        border-bottom-width: 2;
        border-color: black;
    }
    
    .no-border-radius {
        border-radius: 0;
    }