<ns-action-bar title="Detalle" class="action-bar">

    <ActionItem *ngIf="!isLoading" (tap)="borrarOrden(orden._id)" ios.position = "right" class="m-10">
        <Button class="ico btn btn-flat btn-active iconDelete action-item" [text] = "iconDelete"></Button>
    </ActionItem>

</ns-action-bar>

<GridLayout class="page">

    <GridLayout rows="auto,*, 80" class="main-container visible elevation" androidElevation="6" *ngIf="!isLoading">

        <GridLayout row="0">

            <GridLayout rows="auto, auto" columns="auto, auto" class="date-container">
                <Label row="0" col="0" text="Fecha: "></Label>
                <Label row="0" col="1" text="{{orden.fechaCreacion  | date:'fullDate':'es-EC'}}" textWrap="true"></Label>
                <StackLayout row="1" colSpan="2" class="divider m-t-5"></StackLayout>
            </GridLayout>

        </GridLayout>

        <RadListView row="1" [items]="detalles">

            <ng-template let-detalles="item" let-i="index">

                <GridLayout rows="auto, auto, auto, auto" columns="60, *, 30" class="order-details m-t-15">

                    <Image class="img-circle imageList" [src]="detalles.producto.img | imagen:'producto'" stretch="fill" loadMode="async"></Image>

                    <Label col="1" class="order-taker" [text]="detalles.producto.nombre" textWrap="true"></Label>

                    <StackLayout row="1" col="1" colSpan="2" class="items">

                        <GridLayout class="m-b-5" columns="auto, *, auto, 30">
                            <Label class="item-name" text="Precio Unitario"></Label>
                            <Label col="2" class="item-price" text=" $ {{detalles.producto.precioUni | number:'.2-2'}}"></Label>
                        </GridLayout>

                        <GridLayout class="m-b-3" columns="auto, *, auto, 30">
                            <Label class="item-name" text="Cantidad"></Label>
                            <Label col="1" text="( {{detalles.cantidad}} )" class="item-quantity"></Label>
                        </GridLayout>

                        <GridLayout class="m-b-3" columns="auto, *, auto, 60" *ngIf="!(detalles.altura == 0)">
                            <Label class="item-name" text="Altura * Ancho"></Label>
                            <Label col="1" text="( {{detalles.altura| number:'.2-2'}} x {{detalles.ancho | number:'.2-2'}} )m" class="item-quantity"></Label>
                        </GridLayout>

                        <GridLayout class="m-b-3" columns="auto, *, auto, 60" *ngIf="!(detalles.numeroLetras == 0)">
                            <Label class="item-name" text="Letras"></Label>
                            <Label col="1" text="( {{detalles.numeroLetras}} )" class="item-quantity"></Label>
                        </GridLayout>

                    </StackLayout>

                    <StackLayout row="2" col="1" class="hr-light m-y-5"></StackLayout>

                    <GridLayout row="3" col="1" columns="*, auto" class="sub-total">
                        <Label text="SubTotal"></Label>
                        <Label col="1" class="font-weight-bold" text="$ {{detalles.precioFinal | number:'.2-2'}}"></Label>
                    </GridLayout>

                </GridLayout>

            </ng-template>

        </RadListView>

        <GridLayout row="2" rows="*" class="summary m-t-20">
            <GridLayout rows="auto, auto" columns="*, auto" class="grand-total-container m-x-15">
                <StackLayout colSpan="2" class="divider m-b-10 m-t-5"></StackLayout>
                <Label row="1" text="Total"></Label>
                <Label row="1" col="1" text="$ {{orden.total  | number:'.2-2'}} "></Label>
            </GridLayout>
        </GridLayout>

    </GridLayout>

    <ActivityIndicator class="activity-indicator" [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>

</GridLayout>