<BottomNavigation selectedIndex="0">

    <TabStrip>

        <TabStripItem>
            <Label text="Inicio"></Label>
            <Image src="font://&#xe88a;" class="ico ico-font"></Image>
        </TabStripItem>

        <TabStripItem>
            <Label text="Pedidos"></Label>
            <Image src="font://&#xe242;" class="ico ico-font"></Image>
        </TabStripItem>

        <TabStripItem>
            <Label text="Perfil"></Label>
            <Image src="font://&#xe7fd;" class="ico ico-font"></Image>
        </TabStripItem>

    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="productosTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="cotizacionesTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="perfilTab"></page-router-outlet>
    </TabContentItem>

</BottomNavigation>