TabStripItem Label {
    color: #2d3440;
}

TabStripItem:active Label {
    color: #ef424c;
}

TabStripItem Image {
    color: #2d3440;
}

TabStripItem:active Image {
    color: #ef424c;
}

.ico-font {
    font-size: 36;
}