<BottomNavigation selectedIndex="0">


    <TabStrip>
        <TabStripItem class="tabstripitem-active" title="Inicio" iconSource="res://home"></TabStripItem>
        <TabStripItem class="tabstripitem-active" title="Pedidos" iconSource="res://cot"></TabStripItem>
        <TabStripItem class="tabstripitem-active" title="Perfil" iconSource="res://account"></TabStripItem>
        <!-- TODO: Icon font con problemas en el estilo bug ns v6.0 -->
        <!-- <TabStripItem class="tabstripitem-active ico ico-font" title="Inicio" iconSource="font://&#xe88a;"></TabStripItem>
        <TabStripItem class="tabstripitem-active ico ico-font" title="Pedidos" iconSource="font://&#xe242;"></TabStripItem>
        <TabStripItem class="tabstripitem-active ico ico-font" title="Perfil" iconSource="font://&#xe853;"></TabStripItem> -->
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="productosTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="cotizacionesTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="perfilTab"></page-router-outlet>
    </TabContentItem>

</BottomNavigation>