TabStripItem Label,
Image {
    color: #6c6f74;
    font-size: 12;
}

TabStripItem {
    background-color: #ffffff;
}

TabStripItem:active Label {
    color: #ef424c;
}

TabStripItem:active Image {
    color: #ef424c;
}

.ico-font {
    font-size: 36;
}