/* Estilo Signup */

FlexboxLayout {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    /* background-image: url("~/assets/images/background.png"); */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ef424c+0,2989d8+50,207cca+51,2d3440+100 */
}

.card {
    background-color: #f0f0f0;
    padding: 10;
    border-radius: 7;
}

.btn-primary {
    margin: 5 20 5 20;
    height: 50;
    border-radius: 5;
    font-size: 14;
}

.form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
}

.header {
    font-size: 20;
    font-weight: bold;
    text-align: center;
    color: #D51A1A;
}

.container-bottom {
    margin-top: 10;
    margin-bottom: 10;
    padding: 1;
}

.container-top {
    margin-top: 10;
    margin-bottom: 10;
}

.logo {
    margin-bottom: 10;
    margin-top: 10;
    height: 70;
    width: 70;
}

.input-field {
    margin-bottom: 15;
}

.btn-primary {
    margin-top: 10;
}

.label-signup {
    height: 18;
    font-size: 15;
    font-weight: bold;
    color: darkslateblue;
    margin-bottom: 5;
}

TextField {
    font-size: 18;
    horizontal-align: right;
    width: 95%;
}