<TabView class="tab-view" id="tabViewContainer" androidTabsPosition="bottom">
    <StackLayout *tabItem="{title: 'Productos'}">
        <StackLayout>
            <Productos></Productos>
        </StackLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Cotizaciones'}">
        <StackLayout>
            <Cotizaciones></Cotizaciones>
        </StackLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Perfil'}">
        <StackLayout>
            <Perfil></Perfil>
        </StackLayout>
    </StackLayout>
</TabView>