<TabView class="tab-view ico" androidTabsPosition="bottom" tabTextFontSize="25">
    <StackLayout class="ico" *tabItem="{title: '&#xe901;'}">
        <page-router-outlet name="productosTab"></page-router-outlet>
    </StackLayout>

    <StackLayout *tabItem="{title: '&#xe922;'}">
        <page-router-outlet name="cotizacionesTab"></page-router-outlet>
    </StackLayout>

    <StackLayout *tabItem="{title: '&#xe971;'}">
        <page-router-outlet name="perfilTab"></page-router-outlet>
    </StackLayout>

</TabView>