<GridLayout class="page">

    <TabView class="tab-view ico" *ngIf="!isLoading" id="tabViewContainer" androidTabsPosition="bottom">
        <StackLayout *tabItem="{title: '&#xe901;'}">
            <StackLayout>
                <Productos></Productos>
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{title: '&#xe93a;'}">
            <StackLayout>
                <Cotizaciones></Cotizaciones>
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{title: '&#xe971;'}">
            <StackLayout>
                <Perfil></Perfil>
            </StackLayout>
        </StackLayout>
    </TabView>

    <ActivityIndicator class="activity-indicator" [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>

</GridLayout>