<ns-action-bar title="{{nombre}}" class="action-bar"></ns-action-bar>

<ScrollView>

    <GridLayout rows="*,auto" class="page p-y-5">

        <StackLayout row="0" class="card">

            <StackLayout class="card-layout">
                <Image class="img-rounded" [src]="img | imagen:'producto'"></Image>
            </StackLayout>

            <StackLayout class="card-layout-description-p">
                <Label class="h4" [text]="categoria"></Label>
                <!-- <Label class="h3" [text]="nombre" textWrap="true"></Label> -->
                <Label class="body" textWrap="true" [text]="descripcion"></Label>
            </StackLayout>
        </StackLayout>

        <GridLayout row="1" rows="*, auto,*" class="card-cotizar">

            <Label row="0" col="0" class="h5" text="Cotiza el producto"></Label>
            <StackLayout row="1" *ngIf="!rotulos && !rotulos3D">
                <Label class="h4" text="Cantidad:" textWrap="true"></Label>
                <StackLayout orientation="horizontal">
                    <Button text="-" (tap)="variarPrecio(-1)" class="btn btn-cantidad btn-outline btn-rounded-lg btn-active"></Button>
                    <Label class="input-cantidad" [text]="cantidad"></Label>
                    <Button text="+" (tap)="variarPrecio(+1)" class="btn btn-cantidad btn-outline btn-rounded-lg btn-active"></Button>
                </StackLayout>
            </StackLayout>

            <StackLayout row="1" orientation="horizontal" *ngIf="rotulos">
                <TextField class="inputVariables" hint="Altura" keyboardType="number" [(ngModel)]="alto"></TextField>
                <TextField class="inputVariables" hint="Ancho" keyboardType="number" [(ngModel)]="ancho"></TextField>
                <Button text="Calcular" (tap)="variarPrecioRotulo()" class="btn btn-outline btn-rounded-lg btn-active"></Button>
            </StackLayout>

            <StackLayout row="1" orientation="horizontal" *ngIf="rotulos3D">
                <TextField class="inputVariables" hint="Altura" keyboardType="number" [(ngModel)]="alto"></TextField>
                <TextField class="inputVariables" hint="Ancho" keyboardType="number" [(ngModel)]="ancho"></TextField>
                <TextField class="inputVariables" hint="Número de letras" keyboardType="number" [(ngModel)]="nletras"></TextField>
                <Button text="Calcular" (tap)="variarPrecioRotulo3D()" class="btn btn-outline btn-rounded-lg btn-active"></Button>
            </StackLayout>

            <GridLayout row="2" columns="*,60">
                <Label col="0" class="h3 text-danger m-r-15" textWrap="true" text=" Precio Final: ${{precioFinal | number:'.2-2'}}"></Label>
                <Button col="1" [visibility]="activar || !rotulos && !rotulos3D ? 'visible' : 'collapse'" [text]="iconCarrito" class="m-15 ico btn-primary btn-rounded-sm" width="50" (tap)="agregarPedido()"></Button>
            </GridLayout>

        </GridLayout>

    </GridLayout>
</ScrollView>