<ns-action-bar title="{{nombre}}"></ns-action-bar>

<GridLayout rows="auto, *" class="page">

    <GridLayout *ngIf="_productoService.activarCarrito" row="0" class="card-layout">
        <ns-orden></ns-orden>
    </GridLayout>

    <ScrollView row="1">

        <StackLayout class="list-group card-layout">

            <Image class="img-rounded" [src]="img | imagen:'producto'"></Image>
            <!-- <Label class="h3" [text]="nombre" textWrap="true"></Label> -->
            <Label class="h4" [text]="categoria"></Label>
            <Label class="body" textWrap="true" [text]="descripcion"></Label>
            <Label class="h5" text="Aquí puedes cotizar el producto" textWrap="true"></Label>

            <StackLayout *ngIf="!rotulos && !rotulos3D">
                <Label class="h4" text="Cantidad:" textWrap="true"></Label>
                <StackLayout orientation="horizontal">
                    <Button text="-" (tap)="variarPrecio(-1)" class="btn btn-cantidad btn-outline btn-rounded-lg btn-active"></Button>
                    <Label class="input-cantidad" [text]="cantidad"></Label>
                    <Button text="+" (tap)="variarPrecio(+1)" class="btn btn-cantidad btn-outline btn-rounded-lg btn-active"></Button>
                </StackLayout>
            </StackLayout>

            <StackLayout orientation="horizontal" *ngIf="rotulos">
                <TextField class="inputVariables" hint="Altura" keyboardType="number" [(ngModel)]="alto"></TextField>
                <TextField class="inputVariables" hint="Ancho" keyboardType="number" [(ngModel)]="ancho"></TextField>
                <Button text="Calcular" (tap)="variarPrecioRotulo()" class="btn btn-outline btn-rounded-lg btn-active"></Button>
            </StackLayout>

            <StackLayout orientation="horizontal" *ngIf="rotulos3D">
                <TextField class="inputVariables" hint="Altura" keyboardType="number" [(ngModel)]="alto"></TextField>
                <TextField class="inputVariables" hint="Ancho" keyboardType="number" [(ngModel)]="ancho"></TextField>
                <TextField class="inputVariables" hint="Número de letras" keyboardType="number" [(ngModel)]="nletras"></TextField>
                <Button text="Calcular" (tap)="variarPrecioRotulo3D()" class="btn btn-outline btn-rounded-lg btn-active"></Button>
            </StackLayout>

            <Label class="h2 text-right text-danger" textWrap="true" text=" Precio Final: ${{precioFinal | number:'.2-2'}}"></Label>
            <Button text="&#xe93a;" class="ico" (tap)="agregarCarrito()"></Button>

        </StackLayout>

    </ScrollView>

</GridLayout>