.label {
    color: gray;
    margin-bottom: 5;
    font-size: 14;
    vertical-align: top;
}

.black {
    font-size: 16;
    color: black;
}

.box-info {
    background-color: white;
    margin: 0 10 0 10;
    margin-top: -100;
    border-radius: 7;
    padding: 10 10 0 10;
}

.wt {
    color: #25D366;
    vertical-align: top;
    margin-right: 5;
}

.gm {
    color: #D14836;
    vertical-align: top;
    margin-right: 5;
}

.lc {
    color: tomato;
    vertical-align: top;
    margin-right: 5;
}

.if {
    color: teal;
    vertical-align: top;
    margin-right: 5;
}

.icono-fb-color {
    color: #4172B8;
    font-size: 26;
    height: 40;
    width: 45;
    border-radius: 100%;
    text-align: center;
    padding: 0;
}

.icono-ig-color {
    color: #E4405F;
    font-size: 26;
    height: 40;
    width: 45;
    border-radius: 100%;
    text-align: center;
    padding: 0;
}

.icono-tw-color {
    color: #1DA1F2;
    font-size: 26;
    height: 40;
    width: 45;
    border-radius: 100%;
    text-align: center;
    padding: 0;
}