/* Estilo Signup */

.card {
    background-color: white;
    border-radius: 7;
}

.btn-primary {
    margin: 0 10 2 10;
    height: 50;
    border-radius: 7;
    font-size: 14;
    font-weight: bold;
    background-color: #6644cc;
    color: white;
}

.btn-sec {
    color: #ef424c;
    margin: 2 10 5 10;
}

.header {
    font-size: 24;
    font-weight: bold;
    text-align: center;
    color: #6644cc;
}

.text-sub {
    font-size: 14;
    color: #6644cc;
    font-weight: 300;
    text-align: center;
}

.logo {
    margin: 10 0 10 0;
    height: 70;
}

TextField {
    placeholder-color: #2d3440;
    background-color: #eeeeee;
    vertical-align: center;
    opacity: 0.8;
    padding-left: 15;
    height: 40;
    font-size: 14;
    border-radius: 7;
}

.icon-signup {
    font-size: 20;
    vertical-align: center;
    padding: 5;
    color: #2d3440;
    opacity: 0.8;
}