<GridLayout class="page">

    <ListView [items]="productos" class="list-group card">
        <ng-template let-producto="item">
            <StackLayout class="card-layout" [nsRouterLink]="['/producto', producto._id]">
                <Image class="img-thumbnail" [src]="producto.img | imagen:'producto'"></Image>
                <Label class="h2" text="{{producto.categoria.descripcion}}"></Label>
                <Label class="h3" [text]="producto.nombre"></Label>
                <Label class="body" textWrap="true" [text]="producto.descripcion"></Label>
                <Label class="h2 text-right text-danger" textWrap="true" text="${{producto.precioUni}}"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>