.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 15 15 0;
}

.card-layout {
    padding: 20;
}

.card-layout .h1 {
    margin-bottom: 15;
}

.input-field {
    margin-bottom: 25;
}

.input {
    font-size: 18;
    placeholder-color: #A8A8A8;
}