    .card {
        background-color: #f4f2ec;
        color: #4d4d4d;
        margin: 10 10 0;
    }
    
    .card-layout {
        padding: 20;
    }
    
    .card-layout .h1 {
        margin-bottom: 15;
    }
    
    .input-field {
        margin-bottom: 25;
    }
    
    .inputCantidad {
        font-size: 25;
        placeholder-color: #A8A8A8;
    }
    
    .inputVariables {
        font-size: 12;
        placeholder-color: #A8A8A8;
    }
    
    .busqueda-bar {
        background-color: #0e3746;
        padding: 5;
    }
    
    .busqueda-bar Image {
        height: 20;
        vertical-align: center;
        margin-left: 10;
        margin-right: 10;
    }
    
    .busqueda-bar TextField {
        padding: 10;
        placeholder-color: #A8A8A8;
    }