/* Estilo Login */

FlexboxLayout {
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url("~/assets/images/background.png");
}

StackLayout {
    width: 300;
    padding: 10 15;
    background-color: #f0f0f0;
    border-radius: 7;
}

Image {
    margin: 10 0 10 0;
    height: 70;
}

Button,
TextField {
    margin-bottom: 10;
}

.btn-primary {
    background-color: #ef424c;
    margin-left: 0;
    margin-right: 0;
    height: 50;
    border-radius: 5;
    font-size: 14;
    font-weight: 600;
    color: #f4f2ec;
}

TextField {
    placeholder-color: #2d3440;
    vertical-align: center;
    /* color: black; */
}

.icon-login {
    font-size: 20;
    vertical-align: center;
    padding: 5 5 15 5;
    /* horizontal-align: center;
    width: 20;
    height: 20; */
}

.label {
    text-align: center;
    height: 18;
    font-size: 12;
}

.label-login {
    font-weight: bold;
    margin-left: 5;
}