@import '~nativescript-theme-core/css/core.light.css';

/*
    font icons - IconMoon
*/

.ico {
    font-family: 'IcoMoon-Free';
}

.btn-primary {
    height: 50;
    border-radius: 5;
    font-size: 14;
    font-weight: 600;
}

.btn-secondary {
    height: 40;
    background-color: #018abe;
    border-radius: 5;
    font-size: 14;
    font-weight: 600;
}

.btn-primary:disabled {
    opacity: 0.5;
}


/**
THEME BUILDER
*/

.action-bar {
    color: #ffffff;
    background-color: #0e3746;
}

.page {
    background-color: #eae8dc;
}

.activity-indicator {
    color: #021820;
}

.img-circle {
    border-radius: 40;
}

.img-rounded {
    border-radius: 5;
}

.body {
    font-size: 13;
}

.h1 {
    font-size: 36;
}

.h2 {
    font-size: 30;
}

.h3 {
    font-size: 24;
}

.h4 {
    font-size: 18;
}

.h5 {
    font-size: 14;
}

.h6 {
    font-size: 12;
}

.btn {
    color: #0e3746;
}

.btn-primary {
    background-color: #0e3746;
    border-color: #0e3746;
    color: #f4f2ec;
}

.btn-outline {
    border-color: #0e3746;
    background-color: transparent;
    border-width: 1;
    color: #0e3746;
}

.btn-rounded-sm {
    border-radius: 4;
}

.btn-rounded-lg {
    border-radius: 20;
}

.label {
    font-size: 16;
}

.input {
    font-size: 14;
}

.input-rounded {
    border-radius: 30;
}

.tab-view {
    selected-tab-text-color: #be2623;
    tab-text-color: #f4f2ec;
    tab-background-color: #0e3743;
    android-selected-tab-highlight-color: #be2623;
}

.text-danger {
    color: #be2623
}

.badge {
    margin: 0 0 0 0;
    width: 20;
    height: 20;
    border-color: red;
    border-width: 1;
    border-radius: 50%;
    background-color: red;
}

.badge-text {
    position: absolute;
    top: -5px;
    left: 18px;
    font-size: 12;
    font-weight: bold;
    color: white;
    vertical-align: center;
    horizontal-align: center;
}

.vacio {
    position: relative;
    top: 30%;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
}

.icon-5x {
    font-size: 100px;
}