@import '~nativescript-theme-core/css/core.light.css';

/* @import './assets/css/custom.css'; */


/* margin:t r b l  */


/*fonts*/

* {
    font-family: 'Roboto', 'Roboto';
}

.ico {
    font-family: 'IcoMoon-Free', 'icomoon';
}

.action-bar {
    background-color: #2d3440;
    color: white;
}

.activity-indicator {
    color: #2d3440;
}

.page {
    background-image: url("~/assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

FlexboxLayout {
    padding: 0 25 0 25;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 42;
    color: white;
    font-weight: bold;
}

.centrado-vertical {
    vertical-align: center;
}

.centrado-horizontal {
    horizontal-align: center;
}

.img-circle {
    border-radius: 100%;
    border-width: 2;
    border-color: #D8D8D8;
}

Button {
    background-color: #2d3440;
    color: white;
    margin-right: 10;
}

.btn-flat {
    background-color: transparent;
    border-color: transparent;
    border-width: 1;
    z-index: 0;
}

.btn-small {
    font-size: 12;
    font-weight: bold;
    height: 40;
}

.label-recargar {
    font-size: 12;
    height: 50;
    width: 100;
    color: #2d3440
}

.label-title {
    font-size: 18;
    font-weight: bold;
}

.label-description {
    font-size: 14;
    /* height: 15 */
}

.badge {
    width: 20;
    height: 20;
    border-color: red;
    border-width: 1;
    border-radius: 50%;
    background-color: #ef424c;
}

.badge-text {
    position: absolute;
    top: -5px;
    left: 18px;
    font-size: 12;
    font-weight: bold;
    color: white;
    horizontal-align: center;
}

.vacio {
    position: relative;
    top: 30%;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
}

.icon-1x {
    font-size: 20;
}

.icon-2x {
    font-size: 24;
    width: 45;
}

.icon-3x {
    font-size: 30;
}

.icon-5x {
    font-size: 100px;
}

.h6 {
    font-size: 11;
}

.invalid {
    color: #ef424c;
    border-bottom-color: #ef424c;
}

.elevation {
    border-width: 0;
    border-radius: 7;
    border-color: transparent;
}

.visible {
    animation-name: show;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}