@import '~nativescript-theme-core/css/core.light.css';

/* margin:t r b l  */


/*
    fonts
*/

* {
    font-family: 'Roboto', 'Roboto';
}

.ico {
    font-family: 'IcoMoon-Free', 'icomoon';
}


/**
THEME BUILDER
*/

.action-bar {
    color: #ffffff;
    background-color: #2d3440;
}

.page {
    /* background-color: #f8f0ee; */
    /* background-image: url("~/assets/images/background.png"); */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ef424c+0,2989d8+50,207cca+51,2d3440+100 */
    background: #ef424c;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #ef424c 0%, #2989d8 50%, #207cca 51%, #2d3440 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ef424c 0%, #2989d8 50%, #207cca 51%, #2d3440 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ef424c 0%, #2989d8 50%, #207cca 51%, #2d3440 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ef424c', endColorstr='#2d3440', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.activity-indicator {
    color: #021820;
}

.img-circle {
    border-radius: 100%;
    border-width: 2;
    border-color: #D8D8D8;
}

.img-rounded {
    border-radius: 7;
}

.body {
    font-size: 13;
}

.h1 {
    font-size: 36;
}

.h2 {
    font-size: 30;
}

.h3 {
    font-size: 24;
}

.h4 {
    font-size: 18;
}

.h5 {
    font-size: 14;
}

.h6 {
    font-size: 12;
}

.btn {
    color: #2d3440;
}

.btn-primary {
    background-color: #2d3440;
    border-color: #2d3440;
    color: #f4f2ec;
}

.btn-primary {
    height: 50;
    border-radius: 5;
    font-size: 14;
    font-weight: 600;
}

.btn-flat {
    background: transparent;
    border-color: transparent;
    border-width: 0;
    padding: 1;
}

.btn-text {
    font-size: 14;
    font-weight: bold;
}

.btn-small {
    font-size: 10;
    font-weight: bold;
    height: 20;
    padding: 1;
}

.btn-outline {
    border-color: #2d3440;
    background-color: transparent;
    border-width: 1;
    color: #2d3440;
}

.btn-rounded-sm {
    border-radius: 4;
}

.btn-rounded-lg {
    border-radius: 20;
}

.label {
    font-size: 16;
}

.label-recargar {
    font-size: 12;
    height: 18;
    width: 100;
}

.label-title {
    font-size: 18;
    font-weight: bold;
}

.label-description {
    font-size: 12;
    height: 15;
}

.input {
    font-size: 14;
}

.input-rounded {
    border-radius: 30;
}

.text-danger {
    color: #ef424c
}

.badge {
    margin: 0;
    width: 20;
    height: 20;
    border-color: red;
    border-width: 1;
    border-radius: 50%;
    background-color: #ef424c;
}

.badge-text {
    position: absolute;
    top: -5px;
    left: 18px;
    font-size: 12;
    font-weight: bold;
    color: white;
    vertical-align: center;
    horizontal-align: center;
}

.vacio {
    position: relative;
    top: 30%;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
}

.icon-2x {
    font-size: 24;
    width: 40;
}

.icon-3x {
    font-size: 30;
}

.icon-5x {
    font-size: 100px;
}

.invalid {
    color: #ef424c;
    border-bottom-color: #ef424c;
}

.visible {
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}